.skills .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5%;
  text-align: left;
}

.skills .content ul li {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 50px auto;
}

li h4, li .progress-bar {
  align-self: center;
  justify-self: left;
  margin-left: 1rem;
}

.progress-bar {
  height: 100%;
  width: calc(100% - 1rem);
  background-color: black;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.3) inset;
}

.progress-value {
  height: 100%;
  width: 100%;
  background-image: 
    linear-gradient(
      -45deg, 
      transparent 33%, 
      rgba(0, 0, 0, .1) 33%,
      rgba(0, 0, 0, .1) 66%, 
      transparent 66%),
    linear-gradient(
      to top,
      rgba(255, 255, 255, .25),
      rgba(0, 0, 0, .25)
    ),
    linear-gradient(to left, #09c, #f44)
  ;
  border-radius: 2px;
  background-size: 45px 25px, 100% 100%, 100% 100%;
}

.svg-logo {
  width: 50px;
  grid-row: 1 / 3;
}

svg path:nth-child(1) {
 fill: black;
}

#js path:nth-child(2) {
 fill: white;
}
